body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f87816; /* Cor de fundo geral */
    height: 100%; /* Essencial para cobrir toda a altura da página */
    overflow-x: hidden; /* Evita a rolagem horizontal */
}

.container {
    display: flex;
    min-height: 100vh; 
    justify-content: center; /* Centraliza horizontalmente os itens */
    align-items: center; /* Centraliza verticalmente os itens */
}

.container-formulario {
    width: 50%; /* Ajusta a largura do formulário */
    background: #fff;
    padding: 20px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.1); /* Sombra suave */
    border-radius: 8px; /* Borda arredondada */
    margin-right: 20px; /* Espaço entre o formulário e a imagem */
    margin-left: 10%;
    flex: 1; /* Flexibilidade no uso do espaço disponível */
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza os elementos no eixo vertical */
}

.painel-trilhas {
    flex: 1; /* Ocupa o espaço restante */
    background-size: cover;
    max-width: 50%; /* Limita a largura máxima */
}

form {
    width: 100%;
    max-width: 400px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"],
input[type="file"],
button {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #f9f9f9;
}

.upload-arquivo {
    background: #f3f3f3;
    padding: 12px;
    border-radius: 5px;
}

label {
    display: block;
    margin-bottom: 8px;
    width: 100%;
}

.botoes {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

button {
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    background-color: #e67e22; 
    color: white;
    font-weight: bold;
    margin: 0 5px;
}

button[type="reset"] {
    background-color: #95a5a6; 
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .painel-trilhas, .container-formulario {
        width: 100%;
        max-width: none;
        margin-right: 0; /* Remove a margem no modo responsivo */
    }
}
